body,
html {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #fafafa;
    border: groove 1vh darkgray;
    height: 70vh;
    overflow: hidden;
    text-align: center;
    width: 50vw;
}

#navigation {
    height: 5vh;
    width: 50vw;
    background-color: #fafafa;
    border-left: groove 1vh darkgray;
    border-right: groove 1vh darkgray;
    border-bottom: groove 1vh darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation>button {
    margin-left: 1vw;
    margin-left: 1vw;
}

#container-header {
    align-items: center;
    border-bottom: solid 2px #a3a3a3;
    display: flex;
    height: 10%;
    justify-content: center;
}

#container-header>* {
    margin: 3vh 1%;
}

/* PROJECTS */

#project-container-list {
    height: 90%;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project-container-list::-webkit-scrollbar {
    display: none;
}


.project-container-list-actions>button {
    margin-left: 1vw;
    margin-left: 1vw;
}

.project {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c9c9c9;
    border-bottom: solid 2px #707070;
    border-top: solid 1px #707070;
}

.project>* {
    margin-left: 60px;
}

#project-form>* {
    margin-left: 1%;
}

.project-name {
    cursor: pointer;
}

/* TASKS */

#task-container-list {
    height: 90%;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.task-container-list::-webkit-scrollbar {
    display: none;
}


.task-container-list-actions>button {
    margin-left: 1vw;
    margin-left: 1vw;
}

.task {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c9c9c9;
    border-bottom: solid 2px #707070;
    border-top: solid 1px #707070;
    cursor: pointer;
}

.task>* {
    margin-left: 60px;
}

#task-form {
    display: flex;
    flex-direction: column;
}

#task-form>* {
    margin: 1vh;
    text-align: center;
}

#task-container-details {
    height: 90%;
    width: 100%;
}

#task-container-details > *
{
    display: flex;
    flex-direction: column;
}

#task-details-form>* {
    margin: 1vh;
    text-align: center;
}


/* GENERAL MODALS */

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: 15% auto;
    padding: 20px;
}

.modal::-webkit-scrollbar {
    display: none;
}